################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/appsettings.json
/.vs
/.config
/bin/Debug/net6.0
/bin/Release/net6.0
